.modal__content_form {
    position: relative;
    width: 496px;
    height: 436px;
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}


h2.modal__name {
    font-size: 16px;
    width: 95px;
    height: 20px;
    font-family: "Cabinet Grotesk", Arial, sans-serif;
    font-weight: 700;
    font-style: bold;
    line-height: 20px;
    letter-spacing: 0%;
    margin-left: 28px;

}


.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__button {
    padding: 10px 20px;
    cursor: pointer;
    width: 134px;
    height: 36px;
    font-size: 15px;
    font-weight: 700;
    font-style: bold;
    line-height: 7px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    margin-left: 28px;
    margin-top: -11px;
    font-family: "Cabinet Grotesk", Arial, sans-serif;
}


.modal__button:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.modal__button-disabled {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.modal__label {
    padding-bottom: 15px;
    font-family: "Cabinet Grotesk", Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* width: 355px; */
    height: 40px;
    display: flex;
    flex-direction: column;
    margin: 0 28px 0 28px;
    border-bottom: 2px solid black;
    margin-top: 20px;
}



.modal__input {
    opacity: 0.5;
    height: 20px;
    font-family: "Cabinet Grotesk", Arial, sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    border: none;
    outline: none;
    background: transparent;
    margin-top: 10px;

}

.modal__radio-buttons {
    border: none;
    padding: 0;
    margin: 20px 0;
    accent-color: black;
    width: 10px;

}

.modal__legend {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 700;
    font-family: "Cabinet Grotesk", Arial, sans-serif;
    margin-left: 28px;

}

.modal__label_type_radio {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    margin-top: -4px;
    border-bottom: none;
    margin: 0;
    padding: 0;
    gap: 8px;
    margin-left: 28px;
}

.modal__radio-button {
    margin-right: 8px;

}

.modal_is_opened {
    display: flex;
    visibility: visible;
    opacity: 1;
}


.modal-btn__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 16px;
    height: 16px;
    background-image: url("src/assets/Group 119 (1).png");
    background-repeat: center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    z-index: 20;
    opacity: 1;
    color: rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, opacity 0.2s ease, filter 0.2s ease;
}

.modal-btn__close:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}


@media screen and (max-width: 480px) {
    .modal__content_form {
        position: absolute;
        width: 396px;
        height: 396px;
        background-color: #FFFFFF;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}