.toggle__switch {
  width: 56px;
  height: 28px;
  border-radius: 20px;
  border: 2px solid rgba(126, 126, 126, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  background-color: white;
}

/* hide the actual checkbox */
.toggle__checkbox {
  display: none;
}

.f__switch,
.c__switch {
  position: relative;
  z-index: 1;
  /* labels above knob */
}

/* F label - black circle active by default */
.f__switch {
  width: 28px;
  height: 28px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  border-radius: 20px;
  background-color: black;
  color: white;
  transition: all 0.3s ease;
}

/* C label - white flat by default */
.c__switch {
  width: 28px;
  height: 28px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  border-radius: 0;
}


/* When checkbox is checked - toggle active */
.toggle__checkbox:checked~.f__switch {
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
}

.toggle__checkbox:checked~.c__switch {
  background-color: black;
  color: white;
  border-radius: 20px;
}