.item-card {
    background-color: #F3F3F3;
    position: relative;
    width: 100%;
    max-width: 428px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 15px;
    overflow: hidden;
    margin: 12px;

}

.item-card__image {
    width: 100%;
    max-width: 498px;
    height: 498px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
}

.item-card__title {
    line-height: 20px;
    font-weight: 700;
    font-size: 16px;
    font-family: "Cabinet Grotesk", Arial, sans-serif;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px 12px;
    height: 20px;
    color: rgba(0, 0, 0, 0.6);
}

.item-card__like-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 130px;
    width: 21px;
    height: 19px;
    background-image: url('../../assets/plain heart.png');
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 15px;

}

.item-card__like-btn:hover {
    opacity: 0.6;
}

.item-card__like-btn_active {
    background-image: url('../../assets/Like button.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

@media screen and (max-width: 720px) {
    .item-card {
        max-width: 320px;
        margin: 10px auto;
    }

    .item-card__image {
        max-width: 100%;
        height: auto;
    }


}

@media screen and (max-width: 480px) {
    .item-card {
        max-width: 90%;
        margin: 8px auto;
    }

    .item-card__image {
        width: 100%;
        height: auto;
    }

    .item-card__title {
        font-size: 14px;
        padding: 2px 8px;
    }
}