.weather-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  width: 100%;
  margin: 20px auto 0 auto;
  position: relative;
}

.weather_img {
  width: 92vw;
  height: 80px;
  border-radius: 8px;
  display: block;
  margin-top: 0;
  padding: 40px;
  margin-right: 10px;
}

.weather-deg {
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  color: #FFFFFF;
  margin-left: 65px;
  position: absolute;
}

.weather-card__suggestion {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  margin-left: 40px;

}

/* ---------------- Tablet / medium screens ---------------- */
@media screen and (max-width: 720px) {
  .weather-card {
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    text-align: center;
    gap: 20px;
  }

  .weather_img {
    width: 90%;
    height: 60px;
    border-radius: 8px;
    margin: 0;
    padding: 0;
  }

  .weather-deg {
    position: relative;
    margin-left: 0;
    margin-top: 10px;
    font-size: 28px;
    color: black;
  }

  h3 {
    font-size: 18px;
    text-align: center;
    margin: 10px 0 0 0;
  }

  .weather-card__suggestion {
    font-family: "Cabinet Grotesk", Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    margin-left: 40px;

  }
}

/* ---------------- Mobile / small screens ---------------- */
@media screen and (max-width: 480px) {
  .weather-card {
    width: 95%;
  }

  .weather_img {
    width: 95%;
    height: 60px;
    border-radius: 8px;
  }

  .weather-deg {
    font-size: 24px;
    color: black;
    position: relative;
    margin-left: 0;
    margin-top: 5px;
  }

  .weather-card__suggestion {
    font-size: 16px;
    text-align: center;
    margin: 5px auto 0 auto;
  }

}